<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Django Girls</a></h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p> Hoje na solidão ainda custo<br>
                A entender como o amor foi tão injusto<br>
                Pra quem só lhe foi dedicação</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>...Saudade é amar um passado que ainda não passou,<br>
                É recusar um presente que nos machuca,<br>
                É não ver o futuro que nos convida...</p>
        </div>
    </body>
</html>